In [1]:
import pandas as pd

In [2]:
%load_ext watermark
%watermark -d -iv

pandas      0.21.1
2018-02-21

In [3]:
df = pd.read_excel('table.xlsx')
df['Birthday'] = pd.to_datetime(df['Birthday'])
df.head()

     First      Last   Birthday  Age   Color  Height  Weight   IQ
0      ZOE     DAVIS 2012-03-12    6  Yellow      67     108   81
1     NOAH   JACKSON 1962-04-12   56    Blue      84     194  116
2   JAYDEN   STEWART 1975-07-17   43  Orange      65     161   68
3  MADISON  ANDERSON 1936-02-24   82    Blue      57     124  127
4    JAMES     JAMES 1963-09-15   55  Yellow      64     242   91

In [4]:
savePath = 'table.txt'
df.to_html(open(savePath, 'w'), index=False)